body {
  font-family: Arial, sans-serif;
  background-color: #f0f9ff;
  margin: 0;
  height: 100vh; /* Alçada total de la finestra */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url('https://i.pinimg.com/736x/39/c7/1e/39c71e43cd06601a698edc75859dd674.jpg');
  background-size: cover;  
  background-position: center;
  background-repeat: no-repeat;
}

header {
  text-align: center;
}

#joc, #menu {
  text-align: center;
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  box-shadow: 0 0 100px rgba(0,0,0,0.1);
  border-radius: 8px;
  cursor: pointer;
  transition: filter 0.3s ease, transform 0.1s;
}

button:hover {
  filter: brightness(85%);
}

button:active {
  transform: scale(0.9);
}

.botons-missio {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-top: 20px;
}

